<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Aqui podremos modificar las lineas de venta de una venta ya realizada">
  <meta name="author" content="Nicolás Fernández de la Fuente Bursón">
  <title>Modificar lineas de venta</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">
  <link rel="stylesheet" href="../static/jquery-ui-datepicker/jquery-ui.css" type="text/css"
    th:href="@{/jquery-ui-datepicker/jquery-ui.css}">
</head>


<body>
  <header th:replace="~{fragmentos/encabezadoAdmin::encabezadoAdmin}"></header>

  <!--FORMULARIO  -->
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Añadir Linea de Venta</h2>
            </div>
          </div>


          <!-- FORMULARIOOOOOOOOOO -->
          <form class="form-horizontal" novalidate method="POST" th:action=" @{/lineas/nuevaLinea/submit} "
            th:object="${linea}">

            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <input type="hidden" th:field="*{id}" id="id">
                <input type="hidden" th:field="*{venta}" id="venta">
              </div>


              <div class="form-group mb-3">
                <label for="videojuego">Videojuego</label>
                <select id="videojuego" name="videojuego" class="form-control validate" required
                  th:field="*{videojuego}">
                  <option th:each="juego : ${videojuegos}" th:text="${juego.nombre}" th:value="${juego.id}"></option>
                </select>
              </div>


              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="cantidad">Cantidad</label>
                  <input id="cantidad" name="cantidad" type="text" class="form-control validate" data-large-mode="true"
                    th:field="*{cantidad}">
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2022</b>

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
  <!-- https://jqueryui.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $("#expire_date").datepicker({
        defaultDate: "10/22/2020"
      });
    });
  </script>


</body>

</html>