<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Aqui podremos añadir ventas">
  <meta name="author" content="Nicolás Fernández de la Fuente Bursón">
  <title>Añadir Ventas</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">

  <!-- libreria objetivo  -->
  <!-- datedropper -->
  <script src="../static/js/datedropper-javascript.js" th:src="@{/js/datedropper-javascript.js}"></script>

</head>


<body>
  <header th:replace="~{fragmentos/encabezadoAdmin::encabezadoAdmin}"></header>

  <!--FORMULARIO  -->
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Añadir Producto</h2>
            </div>
          </div>


          <!-- FORMULARIOOOOOOOOOO -->
          <form class="form-horizontal" novalidate method="POST" th:action=" @{/nuevaVenta/submit} "
            th:object="${venta}">

            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <input type="hidden" th:field="*{id}" id="id" />


                <div class="form-group mb-3">
                  <label for="comprador">Comprador</label>
                  <input id="comprador" name="comprador" type="text" class="form-control validate" required
                    th:field="*{comprador}" />
                </div>

                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="expire_date"> <span class="input-group-text">Fecha de venta</span></label>
                    <input class="form-control" required type="date" id="fechaCompra" name="fechaCompra"
                      th:field="*{fechaCompra}">
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Enviar</button>
                <!-- th:text=" ${producto.id} ? 'Modificar producto' : 'Añadir Producto'" -->

              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>Nico Salesianos de Triana 2022</b>
      </p>
    </div>
  </footer>


  <!-- APLICANDO LA LIBRERÍA DATEDROPPER-->
  <script>
    new dateDropper({
      selector: 'input[type="date"]'
    });
  </script>


</body>

</html>