<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Aqui podremos añadir productos">
  <meta name="author" content="Nicolás Fernández de la Fuente Bursón">
  <title>Añadir Producto</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">
  <link rel="stylesheet" href="../static/jquery-ui-datepicker/jquery-ui.css" type="text/css"
    th:href="@{/jquery-ui-datepicker/jquery-ui.css}">

  <script src="../static/js/validacionFormularioProducto.js" th:src="@{/js/validacionFormularioProducto.js}" defer></script>
</head>


<body>
  <header th:replace="~{fragmentos/encabezadoAdmin::encabezadoAdmin}"></header>

  <!--FORMULARIO  -->
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Añadir Producto</h2>
            </div>
          </div>


          <!-- FORMULARIOOOOOOOOOO -->
          <form class="form-horizontal" novalidate method="POST"
            th:action="${producto.id} ? @{/editar/submit} : @{/submit}" th:object="${producto}" id="formularioProductos">
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <!-- <h1>
                  "th:action="${producto.id != 0} ? @{/editar/submit} : @{/submit}"
                  <span th:text="${producto.id} ? 'Editar' : 'Nuevo'"></span> PRODUCTOOOOOOOOOOOOOO </h1>-->

                <input type="hidden" th:field="*{id}" id="id" />


                <div class="form-group mb-3">
                  <label for="nombre">Nombre</label>
                  <input id="nombre" name="nombre" type="text" class="form-control validate" required
                    th:field="*{nombre}">
                  <p class="errorForm">Debe rellar el nombre</p>
                </div>
                <div class="form-group mb-3">
                  <label for="descripcion">Descripción</label>
                  <textarea class="form-control validate" rows="3" required th:field="*{descripcion}" id="descripcion"></textarea>
                  <p class="errorForm">Debes tener 25 caracteres</p>
                </div>


                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="pvp">PVP</label>
                  <input id="pvp" name="pvp" type="text" class="form-control validate" data-large-mode="true"
                    th:field="*{pvp}" placeholder="Introduzca el precio base ">
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="descuento">Descuento</label>
                  <input id="descuento" name="descuento" type="text" class="form-control validate" required
                    th:field="*{descuento}">
                </div>
              </div>


              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Enviar</button>
                <!-- th:text=" ${producto.id} ? 'Modificar producto' : 'Añadir Producto'" -->
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>Nico Salesianos de Triana 2022</b>
      </p>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
  <!-- https://jqueryui.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->


</body>

</html>