<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Aqui podremos ver todas las lineas de venta asociadas a una venta ya realizada">
  <meta name="author" content="Nicolás Fernández de la Fuente Bursón">
  <title>Lineas de venta de  una venta</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">
</head>


<body id="reportsPage">

	<header th:replace="~{fragmentos/encabezadoAdmin::encabezadoAdmin}"></header>
  
  
  
  
  <div class="container mt-5">
    <!-- este div sale solo si los parametros dan error -->
    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${param.error}">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>¡No se pueden modificar los tres primeros productos!</span>
    </div>
    <div>
      <div>
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table ">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">VIDEOJUEGO </th>
                  <th scope="col">PRECIO UNITARIO</th>
                  <th scope="col">CANTIDAD</th>
                  <th scope="col">EDITAR &nbsp;</th>
                  <th scope="col">BORRAR &nbsp;</th>
                </tr>
              </thead>
              <tbody th:each="lineaVenta : ${listaLineas}">
                <!--EJEMPLO  -->
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td th:text="${lineaVenta.videojuego.nombre}"></td>
                  <td th:text="${#numbers.formatCurrency(lineaVenta.precioUnitario)}"></td>
                  <td th:text="${#numbers.formatDecimal(lineaVenta.cantidad, 0, 0)}"></td>
                 
                  <td><a th:href="@{/lineas/editarLinea/{id}(id=${lineaVenta.id})}" class="btn btn-primary">Editar</a>

                  <td> <a href="#" class="btn btn-danger" th:href="@{/lineas/borrarLinea/{id}(id=${lineaVenta.id})}">Borrar</a></td> 
                </tr>


              </tbody>
            </table>
          </div>
       
        </div>



      </div>

    </div>
    <a href="../templates/formularioProducto.html" th:href="@{/lineas/nuevaLinea/{id}(id=${venta.id})}"
      class="btn btn-primary btn-block text-uppercase mb-3">Añadir nuevo producto</a>
    <button class="btn btn-primary btn-block text-uppercase">
      Borrar productos seleccionados
    </button>
  </div>
  
  
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>Nico Salesianos de Triana 2022</b>
      </p>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $(".tm-product-name").on("click", function () {
        window.location.href = "edit-product.html";
      });
    });
  </script>
</body>

</html>