<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <style>

        body{
            background: #ffe259;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        .bg{
            background-image: url(../static/imagenes/treasurepink.jpg);
            background-position: center center;
        }
    </style>

</head>


<body class="bg-dark">


    <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the album below, the author, or any other background
                  context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
                  to some social networking sites or contact information.</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Email me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="./index.html" class="navbar-brand d-flex align-items-center">
              <img src="../static/imagenes/treasurepink.png" alt="" width="8%">
              <strong>TREASURE GAMING</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
              aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
    <div class="container w-75 bg-primary mt-5 rounded shadow" >
        <div class="row align-items-center align-items-stretch">
            <div class="col d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded bg">
                
            </div>
    
            <div class="col bg-white p-5 col-lg-7 col-xl-6 rounded-end">
                <div class="text-end">
                    <img src="../static/imagenes/treasurepink.png" alt="" style="width:48px">
                </div>
                <h2 class="fw-bold text-center pt-5 mb-5">Bienvenido</h2>

                

                <!--
                    Formulario de login inyectar formulario aqui y que apunte a securuty login y login 2
                -->
                <form method="POST" th:action="@{/login}" sec:authorize="!isAuthenticated()">
                    <div class="mb-4">
                         <label for="username" class="form-label">Nombre de usuario </label>
        				<input type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario" autofocus="autofocus" />
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" /> 
                    </div>
                    <div class="mb-4 form-check">
                        <input type="checkbox" class="form-check-input" name="connected">
                        <label class="form-check-label" for="connected">Mantenerme conectado</label>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    </div>
                    <div class="my-3">
                        <span>No tienes una cuenta? <a href="#">Regístrate</a></span> <br/>
                        <span><a href="#">Recuperar password</a></span>
                    </div>
                </form>

                <!--
                    Login con redes sociales
                -->
                <div class="container w-100 my-5">
                    <div class="row my-3 text-center">
                        <div class="col-12">Iniciar sesion con</div>
                    </div>
                    <div class="row" >
                        <div class="col">
                            <button class="btn btn-outline-primary w-100 my-1" type="button">
                                <div class="row align-items-center">
                                    <div class="d-none d-md-block col-3 col-lg-4 col-xl-4 col-xxl-3 text-center">
                                        <img src="../static/imagenes/fb.png" width="100%" alt="">
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-8 col-xl-8 col-xxl-9 text-center">
                                        Facebook
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-danger w-100 my-1" type="button">
                                <div class="row align-items-center">
                                    <div class="d-none d-md-block col-3 col-lg-4 col-xl-4 col-xxl-3 text-center">
                                        <img src="../static/imagenes/google.png" width="100%" alt="">
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-8 col-xl-8 col-xxl-9 text-center">
                                        Google
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <!--

                -->
            </div>
        </div>
    </div>
    
    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>