<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Listado de productos con sus respectivas opciones para editar y borrarlos de la base de datos">
  <meta name="author" content="Nicolás Fernández de la Fuente Bursón">
  <title>Listado de videojuegos</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
  <link rel="stylesheet" href="../static/css/fontawesome.min.css" th:href="@{/css/fontawesome.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/templatemo-style.css" th:href="@{/css/templatemo-style.css}">
</head>


<body id="reportsPage">
  <header th:replace="~{fragmentos/encabezadoAdmin::encabezadoAdmin}"></header>
  
  <div class="container mt-5">
    <!-- este div sale solo si los parametros dan error -->
    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${param.error}">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>¡No se pueden modificar los tres primeros productos!</span>
    </div>
    <p>GESTION DE PRODUCTOS</p>
    <div>
      <div>
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table ">
              <thead>
                <tr>
                  <th scope="col">&nbsp;</th>
                  <th scope="col">NOMBRE DEL PRODUCTO</th>
                  <th scope="col">PVP </th>
                  <th scope="col">DESCUENTO</th>
                  <th scope="col">EDITAR &nbsp;</th>
                  <th scope="col">BORRAR &nbsp;</th>
                </tr>
              </thead>
              <tbody th:each="producto : ${listaProductos}">
                <!--EJEMPLO  -->
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name" th:text="${producto.nombre}"></td>
                  <td th:text="${#numbers.formatCurrency(producto.pvp)}"></td>
                  <td th:text="${#numbers.formatDecimal(producto.descuento, 0, 0)}+'%'"></td>
                  <td><a th:href="@{/editar/{id}(id=${producto.id})}" class="btn btn-primary">Editar</a>

                  <td> <a href="#" class="btn btn-danger" th:href="@{/borrar/{id}(id=${producto.id})}">Borrar</a></td>
                </tr>


              </tbody>
            </table>
          </div>
          <!-- table container -->

        </div>



      </div>

    </div>
    <a href="../templates/formularioProducto.html" th:href="@{/nuevo}"
      class="btn btn-primary btn-block text-uppercase mb-3">Añadir nuevo producto</a>
    <button class="btn btn-primary btn-block text-uppercase">
      Borrar productos seleccionados
    </button>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2022</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link"></a>
      </p>
    </div>
  </footer>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="js/bootstrap.min.js"></script>
  <!-- https://getbootstrap.com/ -->
  <script>
    $(function () {
      $(".tm-product-name").on("click", function () {
        window.location.href = "edit-product.html";
      });
    });
  </script>
</body>

</html>